@page "/Products/Update"

@inject IProductService ProductService
@inject ITokenService TokenService
@inject NavigationManager NavigationManager

<PageTitle>Our Products</PageTitle>

<h1>Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<EditForm Model="Product" class="row" OnValidSubmit="BeginProductUpdate">
    <InputNumber @bind-Value="Product.Id" hidden />
    <div class="col-lg-6 col-md-12 mb-3">
        <label for="@nameof(Product.Name)" class="mb-3">Product Name</label>
        <InputText id="@nameof(Product.Name)" class="form-control" @bind-Value="Product.Name" placeholder="My lovely product..."/>
        <ValidationMessage For="() => Product.Name"/>
    </div>

    <div class="col-lg-6 col-md-12 mb-3">
        <label for="@nameof(Product.Price)" class="mb-3">Product Price</label>
        <InputNumber id="@nameof(Product.Price)" class="form-control" @bind-Value="Product.Price" placeholder="13.99"/>
        <ValidationMessage For="() => Product.Price"/>
    </div>

    <div class="col-lg-6 col-md-12 mb-3">
        <label for="@nameof(Product.Category)" class="mb-3">Product Category</label>
        <InputText id="@nameof(Product.Category)" class="form-control" @bind-Value="Product.Category" placeholder="Electronics"/>
        <ValidationMessage For="() => Product.Category"/>
    </div>

    <div class="col-lg-6 col-md-12 mb-3">
        <label for="@nameof(Product.ImageUrl)" class="mb-3">Product Image URL</label>
        <InputText id="@nameof(Product.ImageUrl)" class="form-control" @bind-Value="Product.ImageUrl" placeholder="https://mygreatlink/images/somelinks...."/>
        <ValidationMessage For="() => Product.ImageUrl"/>
    </div>

    <div class="col-12 mb-3">
        <label for="@nameof(Product.Description)" class="mb-3">Product Description</label>
        <InputTextArea id="@nameof(Product.Description)" class="form-control" @bind-Value="Product.Description" placeholder="This great product has..."/>
        <ValidationMessage For="() => Product.Description"/>
    </div>

    <div class="col-3">
        <button class="btn btn-primary">Update</button>
    </div>
</EditForm>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "productId")]
    public int ProductId { get; set; }

    private ProductDto Product = new();


    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync("Products");
        Product = await ProductService.GetProductByIdAsync(ProductId, token.AccessToken);
    }

    private async Task BeginProductUpdate()
    {
        var token = await TokenService.GetTokenAsync("Products");
        var response = await ProductService.UpdateProductAsync(Product, token.AccessToken);

        if (response is true)
            NavigationManager.NavigateTo("/Products");
    }
}